# Ignore all files
*
# Allow directories
!*/
# Allow .gitignore itself
!.gitignore
# Allow LICENSE
!LICENSE
# Allow Python version files
!.python-version
# Allow pyproject.toml in all directories
!**/pyproject.toml
# Allow README.md in all directories
!**/README.md
# Allow CHANGELOG.md in all directories
!**/CHANGELOG.md
# Allow uv lock files
!**/uv.lock
# Allow Python source files
!**/*.py
# Allow github actions
!.github/workflows/*.yml
